NEXT_PUBLIC_SUPABASE_URL=https://ynnusrjuzopcktxisyro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlubnVzcmp1em9wY2t0eGlzeXJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2MTU3MjYsImV4cCI6MjA4MDE5MTcyNn0.bAhQtXD4MxXCGzLqmtzIQ7DB0vGXMReapmgNJAB79xg